<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard Template for Bootstrap</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/admin.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">前端日刊</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">欢迎<%= name%>来到前端日刊！</a></li>
                <li><a href="#"><i class="iconfont">&#xe775;</i>&nbsp;帮助</a></li>
                <li><a href="/admin/logout"><i class="iconfont">&#xe618;</i>&nbsp;注销</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/admin"><i class="iconfont">&#xe665;</i>&nbsp;文章列表 </a></li>
                <li class="active"><a href="/addarticle"><i class="iconfont">&#xe648;</i>&nbsp;添加文章<span class="sr-only">(current)</span></a></li>
                <li><a href="#"><i class="iconfont">&#xe7f9;</i>&nbsp;分类列表</a></li>
                <li><a href="#"><i class="iconfont">&#xe6e0;</i>&nbsp;添加分类</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="/changepass"><i class="iconfont">&#xe64c;</i>&nbsp;修改密码</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header"><%= headline%></h2>
            <%if (!isshow){%>
            <form action="/addarticle" method="post">
            <%}%>
            <%if (isshow){%>
            <form action="/addarticle/revamp" method="get">
            <%}%>
            <h3>标题</h3>
            <input type="text" class="form-control" <%if (!isshow){%>placeholder="请输入文章标题"<%}%> name="title" value="<%= list[0].title%>">
            <h3>分类</h3>
            <select class="form-control makesuresel" name="classify">
                <option>HTML</option>
                <option>JavaScript</option>
                <option>Css</option>
                <option>移动端</option>
                <option>框架</option>
                <option>其他</option>
            </select>
            <h3>内容</h3>
            <textarea name="editor" id="editor" cols="30" rows="10"><%=list[0].content%></textarea>
                <p></p>
                <%if (!isshow){%>
                <input class="btn btn-info" type="submit" value="发布">
                <%}%>
                <%if (isshow){%>
                <input type="hidden" name="id" value="<%= list[0]._id%>">
                <input  class="btn btn-info" type="submit" value="确认修改">
                <%}%>
            </form>
        </div>
    </div>
</div>

  <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/bootstrap/js/jquery-1.11.0.js"></script>
  <script type="text/javascript">
     CKEDITOR.replace('editor');
  </script>
</body>
</html>
